@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    /* start my color */
    --mybackground: #ffffff;
    --mybackgroundopacity: #eeeded;
    --mybordercolor: #d9d9d9;
    --myiconcolor: #000000;
    --mylabelcolor: #636566;
    --mytextcolor: #000000;
    --mylogocolor: #383838;
    --mynavactive: #ecf3f7;
    --mynavactiveborder: #323232;
    --mysecondarytext: #16275c;
    --mycalendarbg: #fff;
    --myinputborder: #d9d9d9;

    /* table & button */
    --mytablehead: #f4fafd;
    --mytableheadborder: #3b7faf66;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    /* start my color */
    --mybackground: #020a21;
    --mybackgroundopacity: #000;
    --mybordercolor: #3b7faf;
    --myiconcolor: #fff;
    --mylabelcolor: #3b7faf;
    --mytextcolor: #ffffff;
    --mylogocolor: #ffffff;
    --mynavactive: #16275c;
    --mynavactiveborder: #00a1d5;

    --mysecondarytext: #fff;
    --mycalendarbg: #0d1735;
    --myinputborder: #3b7faf;

    /* table & button  */
    --mytablehead: #030b22;
    --mytableheadborder: #121a31;
  }
}

body {
  color: var(--mytextcolor);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.overfloww {
  overflow-y: auto;
  /* Vertikal skroll */
  overflow-x: hidden;
  /* Gorizontal skrollni yashirish */
}

/* Scrollni yashirish uchun */
.overfloww::-webkit-scrollbar {
  width: 0;
  /* Scroll kengligini 0 ga o'rnating */
  background: transparent;
  /* Backgroundni shaffof qiling */
}

.font-baltic {
  font-family: "BlitcaUzbek";
  src: url("/fonts/BALTUZB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font__times{
  font-family: 'Times New Roman', Times, serif;
}

.hide__scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 10px;
  /* Width of the vertical scrollbar */
  height: 10px;
  /* Height of the horizontal scrollbar */
}

/* Background of the scrollbar track */
*::-webkit-scrollbar-track {
  background: var(--mytableheadborder);
  border-radius: 10px;
}

/* Style for the scrollbar thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background-color: var(--mybackground);
  border-radius: 10px;
  border: 2px solid whitesmoke;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  /* O'ng tomoniga joylashtirish */
  top: 50%;
  transform: translateY(-50%);
  /* Vertikal markazlash */
  cursor: pointer;
}